*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: Poppins, sans-serif;
    background-color: #4c5969;
    color: #fff;

}

main{

    min-height: 100vh;

}

header{

    background-color: #333c4b;
    color: white;
    padding: 20px 15px;

}

header div{

    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header h1{

    font-size: 30px;
    font-weight: bold;

}

header nav ul{

    display: flex;
    list-style: none;
    gap: 30px;

}

header nav a{

    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s;

}

header nav a:hover{
    
    color: #6f819e;

}

.filtros{

    margin: 20px auto;
    width: 90%;
    max-width: 2000px;

}

.botoes-filtro{

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;

}

.botoes-filtro button{

    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: #6f819e;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;

}

.botoes-filtro button:hover, .botoes-filtro button.ativo{

    background-color: #556080;

}

#listaLivros{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 2000px;
    margin: 20px auto;

}

.card-livro{

    background-color: #333c4b;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.card-livro strong{

    font-size: 18px;

}

.card-livro p{

    font-size: 14px;
    line-height: 1.3;
    color: #dcdcdc;

}

.card-livro .autor, .card-livro .genero, .card-livro .ano{

    font-weight: 500;

}

footer{

    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 40px;
    font-size: 14px;

}

@media (max-width: 768px){

    header div{

        flex-direction: column;
        align-items: center;

    }

    header nav ul{

        flex-direction: column;
        gap: 15px;
        margin-top: 10px;

    }

    #listaLivros{

        grid-template-columns: 1fr;
        
    }
}
