*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background-color: #4c5969;
    font-family: 
    Poppins, sans-serif;

}

main{

    min-height: 100vh;

}

header{

    background-color: #333c4b;
    color: white;
    padding: 20px 15px;
  
}

header div{

    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header h1{

    font-size: 30px;
    font-weight: bold;

}

header nav ul{

    display: flex;
    list-style: none;
    gap: 30px;

}

header nav a{

    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s;

}

header nav a:hover{

    color: #6f819e;

}

.contato{

    width: 90%;
    max-width: 1100px;
    margin: 80px auto;
    background-color: #f8fafc;
    padding: 50px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.contato h2{

    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    color: #1f2c3d;

}

.conteudo-contato {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

}

form {

    flex: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

form label {

    font-weight: 600;
    color: #1f2c3d;

}

form input, form textarea {

    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;

}

form input:focus,form textarea:focus {

    outline: none;
    border-color: #1f2c3d;

}

form button {

    background-color: #1f2c3d;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

form button:hover {

    background-color: #334155;

}

.info {

    flex: 1;
    min-width: 300px;
    background-color: #cbd5e1;
    padding: 25px 20px;
    border-radius: 8px;

}

.info h3 {

    border-bottom: 2px solid #1f2c3d;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #1f2c3d;

}

.info p{

    margin-bottom: 15px;
    color: #334155;

}

.redes{

    display: flex;
    gap: 15px;

}

.redes a {

    font-size: 20px;
    text-decoration: none;
    color: #1f2c3d;
    transition: color 0.3s;

}

.redes a:hover {

    color: #334155;

}

footer{

    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    font-size: 14px;

}

@media (max-width: 900px){

    .conteudo-contato{

        flex-direction: column;
        align-items: center;
        
    }

    form, .info{

        width: 100%;
        max-width: 500px;

    }
}

@media (max-width: 600px) {

    header .container{

        flex-direction: column;
            
    }

    header nav ul{

        flex-direction: column;
        margin-top: 10px;
        gap: 10px;

    }

    .contato{

        padding: 30px 5px;
        
    }
}
