* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{

    background-color: #4c5969;
    font-family: 
    Poppins, sans-serif;

}

main{

    min-height: 100vh;

}

header{

    background-color: #333c4b;
    color: white;
    padding: 20px 15px;
  
}

header div{

    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header h1{

    font-size: 30px;
    font-weight: bold;

}

header nav ul{

    display: flex;
    list-style: none;
    gap: 30px;

}

header nav a{

    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s;

}

header nav a:hover{

    color: #6f819e;

}

.banner {

    position: relative;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;

}

.banner::before {

    content: "";
    position: absolute;
    inset: 0;
    background: url("imgs/fundo-pag-inicial.png") no-repeat center/cover;
    filter: blur(1px);
    transform: scale(1.1);

}

.banner::after {

    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);

}

.banner h2{

    position: relative;
    z-index: 2;
    font-size: 40px;

}

.banner p{

    position: relative;
    z-index: 2;
    font-size: 18px;
    margin-top: 10px;

}

.listar-livros {

    width: 90%;
    max-width: 2000px;
    margin: 40px auto;

}

.listar-livros button{

    padding: 10px 20px;
    background-color: #1e293b;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s;

}

.listar-livros button:hover{

    background-color: #3a4a64;

}

footer{

    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 40px;


}

@media (max-width: 768px){

    header div{

        flex-direction: column;
        align-items: center;

    }

    header nav ul{

        flex-direction: column;
        gap: 15px;
        margin-top: 10px;

    }
}